### Titanic example:
https://uber.github.io/ludwig/examples/#kaggles-titanic-predicting-survivors

### Kaggle data:
https://www.kaggle.com/c/titanic/

In [30]:
# from ludwig import LudwigModel
from ludwig.api import LudwigModel
import yaml
import pandas as pd
import warnings

pd.set_option('display.max_rows', 20)
warnings.filterwarnings('ignore')

In [31]:
model_definition = yaml.load(
'''
input_features:
    -
        name: Pclass
        type: category
    -
        name: Sex
        type: category
    -
        name: Age
        type: numerical
        missing_value_strategy: fill_with_mean
    -
        name: SibSp
        type: numerical
    -
        name: Parch
        type: numerical
    -
        name: Fare
        type: numerical
        missing_value_strategy: fill_with_mean
    -
        name: Embarked
        type: category

output_features:
    -
        name: Survived
        type: binary
'''
)

model = LudwigModel(model_definition)

In [28]:
trainning_set = pd.read_csv('train.csv', index_col=False)
trainning_set

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [32]:
train_stats = model.train(trainning_set)

WARNING:tensorflow:5 out of the last 801 calls to <function ECD.evaluation_step at 0x149500310> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

In [36]:
test_set = pd.read_csv('test_2.csv', index_col=False)
test_set

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1188,2,"Flaven, Mr. Brunette",female,5,1,2,SC/Paris 2123,51.5792,NaN,C
1,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24,1,0,SC/PARIS 2167,27.7208,NaN,C
2,897,3,"Svensson, Mr. Johan Cervin",male,14,0,0,7538,9.2250,NaN,S
3,1188,2,"Laroche, Miss. Louise",female,1,1,2,SC/Paris 2123,41.5792,NaN,C

In [37]:
predictions = model.predict(test_set)
predictions

(   Survived_predictions  Survived_probabilities_False  \
 0                  True                      0.270772
 1                  True                      0.390450
 2                 False                      0.840928
 3                  True                      0.299761

    Survived_probabilities_True  Survived_probability
 0                     0.729228              0.729228
 1                     0.609550              0.609550
 2                     0.159072              0.840928
 3                     0.700239              0.700239  ,
 'results')