In [17]:
## data
import numpy
import pandas as pd
import xlrd
## plot
import matplotlib
import seaborn
## machine learning
# import scikit-learn
import sklearn
import lime
## deep learning
import tensorflow
import shap
## nlp
import nltk
import spacy
import gensim
import wordcloud
import langdetect
import textblob
import transformers
import rouge

In [20]:
# For the original file "News_Category_Dataset_v2.json"
# Check https://www.kaggle.com/rmisra/news-category-dataset

# The file "News_Category_Dataset_v2_light.json" contains only 10 records...
import json

lst_dics = []
with open('datas/News_Category_Dataset_v2_light.json', mode='r', errors='ignore') as json_file:
    for dic in json_file:
        lst_dics.append( json.loads(dic) )
    
# OUTPUT
lst_dics[0]

{'category': 'CRIME',
 'headline': 'There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV',
 'authors': 'Melissa Jeltsen',
 'link': 'https://www.huffingtonpost.com/entry/texas-amanda-painter-mass-shooting_us_5b081ab4e4b0802d69caad89',
 'short_description': 'She left her husband. He killed their children. Just another day in America.',
 'date': '2018-05-26'}

In [21]:
dtf = pd.DataFrame(lst_dics)
dtf = dtf[ dtf["category"].isin(['ENTERTAINMENT','POLITICS','TECH']) ][["category","headline"]]
dtf = dtf.rename(columns={"category":"y", "headline":"text"})
dtf.sample(5)

               y                                               text
8  ENTERTAINMENT  Mike Myers Reveals He'd 'Like To' Do A Fourth ...
3  ENTERTAINMENT  Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4  ENTERTAINMENT  Julianna Margulies Uses Donald Trump Poop Bags...
5  ENTERTAINMENT  Morgan Freeman 'Devastated' That Sexual Harass...
9  ENTERTAINMENT         What To Watch On Hulu That’s New This Week

In [22]:
# More infos
dtf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 1 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   y       9 non-null      object
 1   text    9 non-null      object
dtypes: object(2)
memory usage: 216.0+ bytes

## 1 - Text Analysis

**Look for Metadata**

- Language detection
- Named-entities recognition
- Text cleaning
- Length analysis
- Sentiment analysis
- Word frequency
- Target Variable¶